.app__filter-section_sidebar-icon {
  display: none;
  cursor: pointer;
}
.app__filter-section_sidebar-icon:hover > * {
  background-color: #ddd8d8;
}

.app__filter-section_sidebar-icon > * {
  margin: 2px 0 2px 0;
  height: 4px;
  background-color: white;
  width: 20px;
}

@media (width <= 1200px) {
  .app__filter-section_sidebar-icon {
    display: block;
    cursor: pointer;
  }
}
