.card__container {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  max-height: 650px;
  width: 100%; 
  background-color: white;
}
.card__container.singleCard{
  width: 360px;
}

.card__container-gallery{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  max-height: 650px;
  width: 100%;
  background-color: white;
}



.card__content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex-grow: 1;
  justify-content: space-between;
}

.card__container-gallery .card__content {
  display: none;
  overflow: hidden;
}
.card__container-gallery:hover .card__content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex-grow: 1;
  justify-content: space-between;
}

.card__pirate-img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 8px 8px 0 0;
}
.card__container-gallery .card__pirate-img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  min-height: 100%;
  border-radius: 8px 8px 0 0;
  transition: .8s ease;
  /* transition-delay: .8s;  */
}
.card__container-gallery:hover .card__pirate-img {
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}

.card__no-image {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 8px 8px 0 0;
  background-color: white;
}

.card__no-image > .line_1,
.line_2 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 10px;
  background-color: black;
}
.card__no-image > .line_1 {
  transform: translate(0, -50%) rotate(-38deg);
}
.card__no-image > .line_2 {
  transform: translate(0, -50%) rotate(38deg);
}

.card__container h1 {
  font-size: 34px;
  font-size: 800;
  margin: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__bounty {
  display: flex;
  font-size: 32px;
  justify-content: center;
  align-items: end;
}

.card__bounty > p {
  margin: 0;
}

.card__belly-img {
  width: 36px;
  height: 38px;
  object-fit: cover;
}

.card__content-description {
  font-style: italic;
  min-height: 70px;
  max-height: 70px;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

p {
  margin: 1rem;
}

.card__content > p:nth-last-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__content > p:last-child {
  font-size: 18px;
}

strong {
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width < 670px) {
  .card__container.singleCard{
    width: 100%;
  }
}

@media (670px <= width <= 980px) {
  .card__container.singleCard{
    width: 440px;
  }
}

