.sidebar__container {
  position: absolute;
  top: 0;
  right: -200px;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: white;
  height: 100vh;
  transition: right .3s ease;
}

.sidebar__container.open{
    right: 0;
}

.sidebar__header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.sidebar__crowss-icon > * {
  /* margin: 2px 0 2px 0; */
  height: 4px;
  background-color: black;
  width: 20px;
  transform-origin: center;
}

.sidebar__crowss-icon > :first-child {
  transform: rotate(45deg);
}
.sidebar__crowss-icon > :last-child {
  transform: rotate(-45deg);
}

.sidebar__cross-icon {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
  }
  
  .sidebar__cross-icon::before,
  .sidebar__cross-icon::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .sidebar__cross-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .sidebar__cross-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  