#root {
  margin: 0 auto;
  text-align: center;
}

.app__container{
  padding: 2rem;
}


.app__filter-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

}

.app__filter-section > *{
  flex: 1;
}

.app__filter-section > :nth-child(2) {
  justify-content: center;
}
.app__filter-section > :last-child {
  justify-content: end;
}
